@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

$font: "Roboto", sans-serif;
$splash-background: #ffffff;
$background-colour: #48484A;
$splash-text-colour: #FF462D;
$primary-text-colour: #ffffff;
$font-weights:(
    "regular": 400,
    "light": 300,
    "thin": 100,
);

@function weights($weight-name) {
    @return map-get($font-weights, $weight-name);
};

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
};

@mixin theme($dark-theme: true) {
    @if $dark-theme {
        background: $background-colour;
        color: $primary-text-colour;
    };
};

@mixin lineText() {
    margin: 0;
    width: fit-content;
    padding-right: 1rem;
    padding-left: 1rem;
}

.dark {
    @include theme($dark-theme: true);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: $background-colour;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
};

.app-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
}

@mixin flex-page($pageHeight: 100vh) {
    width: 100%;
    height: $pageHeight;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;

    .left-col {
        width: 7vw;
        height: 100%;
    }

    .middle-col {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        flex-grow: 1;

        width: 71vw;
        height: 100%;

        &-header {
            display: flex;
            justify-content: center;
            align-items: center;

            width: auto;
            max-width: 5ch;
            height: auto;
            margin: 0 0 0 17vw;
            padding-right: 5vw;
            z-index: 500;

            text-align: right;   
            position: relative;

            background-color: $background-colour;

            font-weight: weights(light);
            font-size: 2.5rem;
        }

        &-text {
            display: flex;
            justify-content: center;
            align-items: center;

            max-width: 30ch;
            margin: 0 0 0 17vw;
            padding-right: 5vw;
            z-index: 500;
    
            text-align: justify;   
            position: relative;
    
            background-color: $background-colour;
    
            font-weight: weights(thin);
            font-size: 1rem;
        }

        // &-input {
        //     display: flex;
        //     flex-direction: row;
        //     flex-wrap: nowrap;
        //     align-content: center;
        //     align-self: center;
        //     align-items: center;
    
        //     z-index: 500;
        //     background-color: #48484A;
        //     margin: 0 0 0 17vw;
        //     padding-right: 3vw;
            
        //     position: absolute;
        // }
    }

    .right-col {
        width: 22vw;
        height: 100%;
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }

    .arrow {
        height: 100%; 
        width: 100%;

        &-connector {
            z-index: 200;
            height: auto;
            width: 100%;
            position: relative;

            overflow: visible;
            margin: 0;
        }
    }
}

.splash-page {
    @include flex-page(83vh);

    background-color: $splash-background;
    color: $splash-text-colour;

    &.sticky {
        z-index: 1000;
        position: -webkit-sticky;
        position: sticky;
        top: -62vh;
    }
    
    .logo {
        width: 6ch;

        font-size: 48px;
        font-weight: weights(regular);
        position: absolute;

        top: 59vh;
        left: 13vw;
    }

    .swipe {
        position: relative;
        bottom: 55vh;
        left: -10.5vw;

        margin: 0;

        transform: rotate(270deg);

        font-weight: weights(light);
        font-size: 22px;
    }
}

@mixin clearInput($width: 50vw) {
    width: $width;
    border: 0;
    margin: 0;
    // padding-right: 1rem;
    background-color: $background-colour;
    color: $primary-text-colour;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: weights(light);
    text-align: right;
    overflow: visible;

    &:focus {
        outline: none;
    }
}

.about-page {
    @include flex-page();
    
    margin-top: 27vh;
}

.bill-cost-page {
    @include flex-page();

    .bill-cost-input {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-self: center;
        align-items: center;

        z-index: 500;
        background-color: #48484A;
        margin: 0 0 0 17vw;
        padding-right: 3vw;
        
        position: absolute;

        .dollar {
            font-size: 3rem;
            font-weight: weights(light);
            text-align: right;
            background-color: #48484A;
        }

        input {
            @include clearInput(7ch);
            text-align: left!important;
        }
    }
}

.bill-period-page {
    @include flex-page();

    .bill-period-page-input {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-self: center;
        align-items: center;

        z-index: 500;
        background-color: #48484A;
        margin: 0 0 0 17vw;
        padding-right: 3vw;
        
        position: absolute;

        .days {
            font-size: 3rem;
            font-weight: weights(thin);
            text-align: right;
            background-color: #48484A;
        }

        input {
            @include clearInput(3ch);
        }
    }
}

.housemate-quantity {
    @include flex-page();

    .middle-col-header > p{
        font-size: 2rem;
        padding-right: .5rem;
        background-color: #48484A;
    }

    .housemates-input {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-self: center;
        align-items: center;

        z-index: 500;
        background-color: #48484A;
        margin: 0 0 0 5vw;
        padding-right: 3vw;
        
        position: absolute;

        input {
            @include clearInput(3ch);
        }
    }
}

.housemate {
    @include flex-page();

    .middle-col-header > p{
        font-size: 2rem;
        padding-right: .5rem;
        background-color: #48484A;
    }

    .housemate-input {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-self: center;
        align-items: center;

        z-index: 500;
        background-color: #48484A;
        margin: 0 0 0 0;
        padding-right: 3vw;
        
        position: absolute;

        .days {
            font-size: 3rem;
            font-weight: weights(thin);
            text-align: right;
            background-color: #48484A;
        }

        input {
            @include clearInput(3ch);
            
        }
    }
}

.results-page {
    @include flex-page();

    
}