@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

$font: "Roboto", sans-serif;
$splash-background: #ffffff;
$background-colour: #48484A;
$splash-text-colour: #FF462D;
$primary-text-colour: #ffffff;
$font-weights:(
    "regular": 400,
    "light": 300,
    "thin": 100,
);

@function weights($weight-name) {
    @return map-get($font-weights, $weight-name);
};

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
};

@mixin theme($dark-theme: true) {
    @if $dark-theme {
        background: $background-colour;
        color: $primary-text-colour;
    };
};

.dark {
    @include theme($dark-theme: true);
}

body {
    background: $background-colour;
    font-family: $font;
    font-weight: map-get($font-weights, light);
    color: $primary-text-colour;
};

.main {
    @include flexCenter(column);
    width: 80%;
    margin: 0 auto;

    #{&}-paragraph {
        // ${&} == parent
        font-weight: weight(thin);

        &:hover {
            color: $splash-text-colour;
        };
    };
};