@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

$font: "Roboto", sans-serif;
$splash-background: #ffffff;
$background-colour: #48484A;
$splash-text-colour: #FF462D;
$primary-text-colour: #ffffff;
$font-weights:(
    "regular": 400,
    "light": 300,
    "thin": 100,
);

@function weights($weight-name) {
    @return map-get($font-weights, $weight-name);
};

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
};

@mixin theme($dark-theme: true) {
    @if $dark-theme {
        background: $background-colour;
        color: $primary-text-colour;
    };
};

@mixin lineText() {
    margin: 0;
    width: fit-content;
    padding-right: 1rem;
    padding-left: 1rem;
}

.dark {
    @include theme($dark-theme: true);
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
};

.app-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.splash-page {
    width: 100%;
    height: 83vh;

    z-index: 500;

    position: sticky;

    background-color: $splash-background;
    color: $splash-text-colour;

    &.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: -62vh;
    }

    p {
        margin: 0;
    }

    &-logo {
        font-size: 48px;
        font-weight: weights(regular);
        position: absolute;
        top: 65vh;
        left: 8vw;
    }

    .swipe {
        position: absolute;
        right: 10.5vw;
        top: 30vh;
        transform: rotate(270deg);

        font-weight: weights(light);
        font-size: 22px;
    }

    .arrow {
    height: 83vh; 
    width: 30px;

    z-index: 1000;
    position: absolute;
    top: 0;
    right: 10vw;

    display: flex;
    justify-content: center;
    align-content: center;
        
        .less-sticky {
            position: -webkit-sticky;
            position: sticky;
            bottom: -63vh;
        }
    }
}

.page-spacer {
    height: 17vh;
    width: 100%;
}

.site-line {
    height: 100%; 
    width: 30px;

    position: absolute;
    right: 10vw;

    display: flex;
    justify-content: center;
    align-content: center;
}

.lateral-line {
    height: auto; 
    width: 30px;

    position: absolute;
    right: 10vw;

    // display: flex;
    // justify-content: center;
    // align-content: center;
    overflow: visible;
}

@mixin newPage($pageHeight: 100vh) {
    height: $pageHeight;
    width: 100%;

    // display: flex;
    // flex-wrap: nowrap;
    // flex-direction: column;

    background-color: $background-colour;
    &-header {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
        align-content: center;

        text-align: right;
        position: relative;

        font-weight: weights(light);
        font-size: 2.5rem;
    }

    &-text {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
        align-content: center;

        text-align: justify;
        text-justify: inter-word;

        position: relative;

        font-weight: weights(thin);
        font-size: 1rem;
    }

    p {
        @include lineText();
        background-color: $background-colour;
        max-width: 50vw;
    }
}

@mixin clearInput($width: 50vw) {
    width: $width;
    border: 0;
    margin: 0;
    padding-right: 1rem;
    background-color: $background-colour;
    color: $primary-text-colour;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: weights(light);
    text-align: right;
    overflow: visible;

    &:focus {
        outline: none;
    }
}

.about-page {
    @include newPage(70vh);
    
}

.bill-cost-page {
    @include newPage(70vh);

    .bill-cost-input {
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;

        align-self: flex-end;

        .dollar {
            font-size: 3rem;
            font-weight: weights(light);
            text-align: right;
            background-color: #48484A;
        }

        input {
            @include clearInput(2ch);
            text-align: left!important;
        }
    }
}

.bill-period-page {
    @include newPage();

    &-input {
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;

        input {
            @include clearInput(60vw);
            
        }
    
        .days {
            font-size: 3rem;
            font-weight: weights(thin);
            margin-right: 42vw;
            margin-left: -3vw;
        }
    }
}

.housemate-quantity {
    @include newPage();

    &-header {
        // word-wrap: break-word;
        font-size: 2rem;
    }
}