@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

$font: "Roboto", sans-serif;
$splash-background: #ffffff;
$background-colour: #48484A;
$splash-text-colour: #FF462D;
$primary-text-colour: #ffffff;
$font-weights:(
    "regular": 400,
    "light": 300,
    "thin": 100,
);

@function weights($weight-name) {
    @return map-get($font-weights, $weight-name);
};

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
};

@mixin theme($dark-theme: true) {
    @if $dark-theme {
        background: $background-colour;
        color: $primary-text-colour;
    };
};

@mixin lineText() {
    margin: 0;
    width: fit-content;
    padding-right: 1rem;
    padding-left: 1rem;
}

.dark {
    @include theme($dark-theme: true);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: $background-colour;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
};

.app-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
}

@mixin flex-page($pageHeight: 100vh) {
    width: 100%;
    height: $pageHeight;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;

    .left-col {
        width: 15vw;
        height: 100%;
    }

    .middle-col {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        flex-grow: 1;

        width: 70vw;
        height: 100%;

        &-header {
            display: flex;
            justify-content: center;
            align-items: center;

            width: auto;
            height: auto;
            margin: 0;
            padding: 0 1rem 0 1rem;
            z-index: 500;

            text-align: right;   
            position: relative;

            background-color: $background-colour;

            font-weight: weights(light);
            font-size: 2.5rem;
        }

        &-text {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            // margin: 0 0 0 17vw;
            // padding-right: 5vw;
            z-index: 500;
    
            text-align: justify;   
            position: relative;
    
            font-weight: weights(thin);
            font-size: 1rem;

            .limit-width {
                max-width: 30ch;
                padding: 0 1rem 0 1rem;
                background-color: $background-colour;
            }
        }
    }

    .right-col {
        width: 15vw;
        height: 100%;
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }

    .arrow {
        height: 100%; 
        width: 100%;

        &-connector {
            z-index: 200;
            height: auto;
            width: 100%;
            position: relative;

            overflow: visible;
            margin: 0;
        }
    }
}

@mixin sticky($height: -62vh, $index: 1000) {
    z-index: $index;
    position: -webkit-sticky;
    position: sticky;
    top: $height;
}

.hover {
    @include sticky(22vh, 1000);
}

.square {
    width: 1.2rem;
    height: 1.2rem;

    margin: 0 0 0 5vw;

    text-align: center;

    border: 1px solid white;
    // border-radius: 5px;
}

.splash-page {
    @include flex-page(83vh);

    background-color: $splash-background;
    color: $splash-text-colour;

    &.sticky {
        z-index: 1000;
        position: -webkit-sticky;
        position: sticky;
        top: -62vh;
    }
    
    .logo {
        width: 6ch;

        font-size: 48px;
        font-weight: weights(regular);
        position: absolute;

        top: 59vh;
        left: 13vw;
    }

    .swipe {
        position: relative;
        bottom: 55vh;
        left: -10.5vw;

        margin: 0;

        transform: rotate(270deg);

        font-weight: weights(light);
        font-size: 22px;
    }
}

@mixin clearInput($width: 50vw) {
    width: $width;
    border: 0;
    margin: 0;
    padding: 0;

    // -webkit-appearance: none;
    // -moz-box-sizing: border-box;
    // -webkit-box-sizing: border-box;
    // box-sizing: border-box;

    vertical-align: middle;

    background-color: $background-colour;
    color: $primary-text-colour;
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: weights(light);
    text-align: right;
    overflow: visible;

    &:focus {
        outline: none;
    }
}

.about-page {
    @include flex-page();
}

.bill-cost-page {
    @include flex-page();

    .bill-cost-input {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin: -15vh 0 0 0;
        padding: 0 1rem 0 5ch;
        z-index: 500;

        text-align: justify;   
        position: relative;

        .dollar {
            margin: 0;
            padding: 0;
            align-self: center;
            font-size: 3rem;
            font-weight: weights(light);
            text-align: right;
            background-color: #48484A;
        }

        input {
            @include clearInput();
            text-align: left!important;
            font-weight: weights(thin)
        }
    }
}

.bill-period-page {
    @include flex-page();

    .middle-col-header {
        background-color: #48484A;
    }

    .bill-period-page-input {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin: -13.7vh 0 0 0;
        padding: 0 1rem 0 1rem;
        z-index: 500;

        text-align: justify;   
        position: relative;

        .days {
            align-self: center;

            margin: 0;
            padding: 0;

            font-size: 3rem;
            font-weight: weights(thin);
            text-align: right;
            background-color: #48484A;
        }

        input {
            align-self: center;
            @include clearInput(3ch);
        }
    }
}

.housemate-quantity {
    @include flex-page();

    .middle-col-header > p{
        font-size: 2.2rem;
        background-color: #48484A;
        text-align: right;
    }

    .housemates-input {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        width: 100%;
        margin: -13.5vh 0 0 0;
        padding: 0 1rem 0 0;
        z-index: 500;

        text-align: justify;   
        position: relative;

        input {
            align-self: center;
            @include clearInput(3ch);
            font-weight: weights(light)
        }
    }
}

.housemate {
    @include flex-page();

    .middle-col-header {
        background-color: #48484A;
        margin-right: 1vw;
        
    }

    .housemate-input {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin: -13.5vh 0 0 0;
        padding: 0 0 0 1rem;
        z-index: 500;

        text-align: justify;   
        position: relative;

        .days {
            // height: 100%;
            align-self: center;
            margin: 0;
            padding: 0;
            font-size: 3rem;
            font-weight: weights(thin);
            text-align: right;
            background-color: #48484A;
        }

        input {
            @include clearInput(3ch);
            align-self: center;
        }
    }
}

.results-page {
    @include flex-page(25vh);

    margin-top: 20vh;

    .middle-col-header > p{
        font-size: 3rem;
        padding-left: .5rem;
        background-color: #48484A;
    }


}

.results-row {
    @include flex-page(10vh);

    .results-list {
        display: flex;
        justify-content: center;
        align-items: flex-start;



        text-align: justify;   
        position: relative;
    }

    .results-list > p{
        background-color: $background-colour;

        width: 100%;
        margin: 0 0 0 0;
        padding: 0 1rem 0 1rem;
        z-index: 500;

        font-size: 1.5rem;
        font-weight: weights(thin);
        text-align: right;
    }

    .results-list > p > .name {
        font-weight: weights(light);
    }
}

.spacer {
    height: 30vh;
}